
<div class="content">
  <p class="messa"><%= product.name %></p>
  <p class="daytime"><%= product.created_at %></p>
  <% product.images.each do |image| %>
  <%= image_tag image.src.url %>
  <% end %>
</div>

<%= link_to '⇧編集', edit_product_path(product),{class:'edit'} %>
<%= link_to '⇧削除', product_path(product), method: :delete ,class:'dele',data: {confirm: "押し間違え？!
本当に削除してもいいですか？"} %>