<%# <div id="left_card">
</div> %>

<div class="contents">
  <div class="content">
    <p class="messa"><%= product.name %></p>
    <p class="daytime"><%= product.created_at %></p>
    <% product.images.each do |image| %>
    <%= image_tag image.src.url %>
    <% end %>
  </div>
</div>

<%= link_to '⇧編集', edit_product_path(product),{class:'edit'} %>
<%= link_to '⇧削除', product_path(product), method: :delete ,id:'dele', data: { confirm: 

'ウッカリ押してしまった訳ではないですか？

本当に"削除"してもいいですか？

最終確認画面です！' }%>